<% images.in_groups_of(4, false).each do |group| %>
  <div class="row"> 
    <% group.each do |image| %>
      <div class="span3">
        <%= image_tag image.attachment.expiring_url(3600, :thumb) %>
      </div>
    <% end %>
  </div>
<% end %>