<%= form_tag images_path, method: :get, remote: true do %>
  <%= text_field_tag :search, params[:search], placeholder: 'Seach', id: 'search_images' %>
<% end %>

<div class="clearfix"></div>

<div id="image_list">
  <%= render 'images/image_list', images: @images %>
</div>

