<div class="clearfix"></div>

<div id="image_list">
  <%= render 'images/image_list', images: @images %>
</div>


<div id="imageModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="modal_image_name" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="modal_image_name">View Image</h3>
  </div>
  <div class="modal-body">
  </div>
</div>
