<h1>New Image</h1>

<%= form_tag images_path, class: "dropzone", id: "images-dropzone" do %>
<% end %>

<%= link_to "Edit Images", root_path(untagged: true), id: "edit_untagged_images", class: "btn btn-primary hide" %>