<div class="row">
  <div class="span3">
    <%= image_tag @image.attachment.expiring_url(3600, :thumb) %>
  </div>
  <div class="span3">
    <p><strong>Thinkstock ID:</strong> <%= @image.thinkstock_id %></p>
    <p><strong>Keywords:</strong> <%= @image.tags %></p>
    <%= link_to 'Download', @image.attachment.expiring_url, class: "btn btn-success" %>
  </div>
</div>